<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <h3>Gallery Artworks List </h3>
          <div id="logo" class="col-xs-12">
            <img class="logo" src="https://cdn.discordapp.com/attachments/730416240274702376/908144529570402304/unknown.png"  width="200" >
          
          </div>
          <br>
          <!-- ------------------------ -->
          <!-- THE ADD BUTTON BELOW -->
          <!-- ------------------------ -->
          <a href="/artgallery/add" class="btn btn-primary"><i class="fa fa-plus"></i> Add an artwork</a>
          <br>
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
              <thead>
                <tr>
                  <th>Title</th>
                  <th class="text-center">Year</th>
                  <th class="text-center">Artist</th>

                  <th class="text-center">Style</th>
                  <th class="text-center"></th>
                  <th class="text-center"></th>
                </tr>
                </thead>
                <tbody>
                <!-- Template Row -->
                <% for (let count = 0; count < books.length; count++) { %>
                <tr>
                  <td><%= books[count].Title %></td>
                  <td class="text-center"><%= books[count].Year %></td>
                  <td class="text-center"><%= books[count].Artist %></td>
                  <td class="text-center"><%= books[count].Style %></td>

                  <td class="text-center">
                    <!-- ------------------------ -->
                    <!-- ADD the EDIT BUTTON HERE -->
                    <!-- ------------------------ -->
                    <a href="/artgallery/edit/<%= books[count]._id %>" class="btn btn-primary btn-sm">
                      <i class="fas fa-pencil-alt"></i> Edit</a>
                  
     

                  </td>

                  <td class="text-center">
                    <!-- ------------------------ -->
                    <!-- ADD the DELETE BUTTON HERE -->
                    <!-- ------------------------ -->
                    <a href="/artgallery/delete/<%= books[count]._id %>" class="btn btn-danger btn-sm">
                      <i class="fas fa-trash-alt"></i> Delete</a>
                  </td>
                </tr>
                <% } %>
              </tbody>
            </table>
          </div>
           <div class="col-md-offset-1 col-md-10 text-center">
            <ul class="pagination pagination-lg pager" id="myPager"></ul>
          </div>
        </div>
      </div>
    </div>

<% include ../partials/footer.ejs %>


